@import "../../../../node_modules/@angular/material/theming";

@mixin side-nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .sidenav__list-item {
    border-bottom: 1px solid $black-6-opacity;
    .sidenav__list-item--anchor {
      color: rgba(0,0,0,.54);
      font-family: $mat-font-family;

      &:hover {
        background: mat-color($primary, 50);
        color: mat-color($primary, 500);
      }
    }
  }
}
