<md-sidenav-container class="sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <ul class="sidenav__list">
      <li class="sidenav__list-item">
        <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor" [ngClass]="{'sidenav__list-item--active': isItemActive()}">
          Lorem ipsumąęłóźńśżź
        </a>
      </li>
      <li class="sidenav__list-item">
        <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
          Lorem ipsum
        </a>
      </li>
      <li class="sidenav__list-item">
        <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
          Lorem ipsum
        </a>
      </li>

      <li class="sidenav__list-item-parent">
        <a class="sidenav__list-item--anchor" (click)="isCollapsed = !isCollapsed">
          Lorem ipsum <i [@iconChange]="isCollapsed" class="material-icons sidenav__list-item--expand-icon">keyboard_arrow_down</i>
        </a>

        <div class="content" [@collapseChange]="!isCollapsed">
          <ng-content select=".collapsible-content"></ng-content>
          <ul class="sidenav__sublist">
            <li class="sidenav_list-item sidenav__list--child-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
                Lorem ipsum
              </a>
            </li>
            <li class="sidenav_list-item sidenav__list--child-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
                Lorem ipsum
              </a>
            </li>
            <li class="sidenav_list-item sidenav__list--child-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
                Lorem ipsum
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="sidenav__list-item">
        <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
          Lorem ipsum
        </a>
      </li>

      <li class="sidenav__list-item-parent">
        <a class="sidenav__list-item--anchor" (click)="isCollapsed = !isCollapsed">
          Lorem ipsum <i [@iconChange]="isCollapsed" class="material-icons sidenav__list-item--expand-icon">keyboard_arrow_down</i>
        </a>


        <div class="content" [@collapseChange]="!isCollapsed">
          <ng-content select=".collapsible-content"></ng-content>
          <ul class="sidenav__sublist">
            <li class="sidenav_list-item sidenav__list--child-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
                Lorem ipsum
              </a>
            </li>
            <li class="sidenav_list-item sidenav__list--child-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
                Lorem ipsum
              </a>
            </li>
            <li class="sidenav_list-item sidenav__list--child-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="sidenav__list-item--anchor">
                Lorem ipsum
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </md-sidenav>

  <div class="example-scrolling-content">
    <app-toolbar (toggleMenu)="sidenav.toggle()"></app-toolbar>
  </div>

</md-sidenav-container>
