<h1 mat-dialog-title>Wybierz odbiorcę lub wielu odbiorców</h1>
<div mat-dialog-content>
  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!--account number column-->
      <ng-container matColumnDef="accountNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Numer konta</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accountNumber}} </mat-cell>
      </ng-container>

      <!-- beneficiary name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Dane</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Adres</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.address}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" click="alert(row)"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button tabindex="2" [mat-dialog-close]="selection.selected" cdkFocusInitial>Wybierz zaznaczonych</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Wyjdź</button>
</div>
