<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
  body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif
  }

</style>
<body class="w3-dark-white">
<!-- About Section -->
<div class="w3-content w3-justify w3-text-black w3-padding-64" id="about">
  <h2 class="w3-text-light-black">Historia banku...</h2>
  <hr style="width:200px" class="w3-opacity">
  <p>Bank PŚK to bezpieczna bankowość dla tych, dla których rodzina jest zawsze na pierwszym miejscu. Wierzymy, że
    uczciwe produkty finansowe, na których zawsze można polegać, zapewnią Państwu i Państwa bliskim spokój i poczucie
    bezpieczeństwa, którego każda rodzina potrzebuje, aby w pełni rozwinąć skrzydła.
    <br><br>
    W przeciwieństwie do innych, nie chcemy być tylko bankiem. Chcemy być dla Państwa realnym wsparciem w codziennym
    życiu, dlatego przy tworzeniu oferty bazowaliśmy na bezpośrednich rozmowach z Klientami i naszych wieloletnich
    doświadczeniach. Nest Bank oferuje Państwu stabilne i godne zaufania produkty zarówno dla osób prywatnych, jak i
    przedsiębiorców.
    <br><br>
    Zgodnie z filozofią banku bliskiego ludziom, dbamy o całodobowy dostęp do naszych usług poprzez wygodną bankowość
    mobilną oraz internetową, nie rezygnując przy tym z bezpośredniego kontaktu z Klientami. Aby być jeszcze bliżej
    Państwa spraw, otworzyliśmy już kilkaset kameralnych, sprzyjających rozmowie placówek w całej Polsce.
  </p>
  <h3 class="w3-padding-16 w3-text-light-black">Jak inni nas postrzegają</h3>
  <p class="w3-wide">Niezawodność naszych usług</p>
  <div class="w3-grey">
    <div class="w3-black" style="height:28px;width:99%"></div>
  </div>
  <br>
  <p class="w3-wide">Zadowolenie klientów</p>
  <div class="w3-grey">
    <div class="w3-black" style="height:28px;width:95%"></div>
  </div>
  <br>
  <p class="w3-wide">Miejsce w rankingu banków</p>
  <div class="w3-grey">
    <div class="w3-black" style="height:28px;width:90%"></div>
  </div>
  <br>

  <div class="w3-row w3-center w3-padding-16 w3-section w3-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">24/7</span><br>
      Helpdesk
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">55+</span><br>
      Różnych usług
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">1200</span><br>
      Specjalistów
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">150</span><br>
      Oddziałów w całej Polsce
    </div>
  </div>

  <!-- Grid for pricing tables -->
  <h3 class="w3-padding-16 w3-text-light-black">Dodatkowe usługi</h3>
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-grey w3-xlarge w3-padding-32">Podstawowa</li>
        <li class="w3-padding-16">Księgowość Bankowa</li>
        <li class="w3-padding-16">Fotograf</li>
        <li class="w3-padding-16">40GB Cloud Disk</li>
        <li class="w3-padding-16">Wsparcie e-mail</li>
        <li class="w3-padding-16">
          <h2>10 zł</h2>
          <span class="w3-opacity">na miesiąc</span>
        </li>
        <li class="w3-grey w3-padding-24">
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-grey w3-xlarge w3-padding-32">Premium</li>
        <li class="w3-padding-16">Pełna Księgowość</li>
        <li class="w3-padding-16">Wsparcie Analityków Biznesowych</li>
        <li class="w3-padding-16">150GB Cloud Disk</li>
        <li class="w3-padding-16">Stała Pomoc Dla Firm</li>
        <li class="w3-padding-16">
          <h2>150 zł</h2>
          <span class="w3-opacity">na miesiąc</span>
        </li>
        <li class="w3-grey w3-padding-24">
        </li>
      </ul>
    </div>
    <!-- End Grid/Pricing tables -->
  </div>
</div>
<!-- END PAGE CONTENT -->
</body>
</html>
