<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>Wybierz odbiorcę lub wielu odbiorców</p>
  <!--<mat-form-field>-->
    <!--<input matInput tabindex="1" [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter placeholder="Filtruj odbiorców">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="data" matSort>
      <!--account number column-->
      <ng-container matColumnDef="accoutNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Numer konta</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.accountNumber}} </mat-cell>
      </ng-container>

      <!-- borrower name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Dane</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Adres</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
<div mat-dialog-actions>
  <!--<button mat-button [mat-dialog-close]="data.animal" tabindex="2">Ok</button>-->
  <button mat-button (click)="onNoClick()" tabindex="-1">Wyjdź</button>
</div>
