@import '~@angular/material/theming';
@import "app/shared/layout/toolbar/toolbar.component.theme";
@import "app/shared/layout/side-nav/side-nav.component.theme";

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include toolbar-theme($theme);
@include side-nav-theme($theme);

