<form [formGroup]="form">
  <h1>Szybki kredyt</h1>
  <mat-form-field>
    <mat-select placeholder="Rachunek główny kredytobiorcy" formControlName="userAccount">
      <mat-option *ngFor="let account of accounts$ | async" [value]="account">
        <span>{{ account.account.accountNumber }}</span> |
        <small>{{account.account?.currency?.code}}</small>
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="form.controls.userAccount.value" matSuffix mat-icon-button aria-label="Clear" (click)="openDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.userAccount.hasError('required')">
      Rachunek pobrania kredytu jest <strong>wymagany</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dane kredytobiorcy" formControlName="borrower"
           [errorStateMatcher]="matcher">
    <button mat-button matSuffix mat-icon-button (click)="openDialog()">
      <mat-icon>face</mat-icon>
    </button>
    <button mat-button *ngIf="form.controls.borrower.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.borrower.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.borrower.hasError('required')">
      Dane odbiorcy są <strong>wymagane</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Kwota przelewu" type="number" formControlName="amount"
           [errorStateMatcher]="matcher">
    <button mat-button *ngIf="form.controls.amount.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.amount.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.amount.hasError('required')">
      Kwota kredytu jest <strong>wymagana</strong>
    </mat-error>
    <mat-error *ngIf="form.controls.amount.hasError('min')">
      Kwota kredytu jest <strong>za mała</strong>
    </mat-error>
    <mat-error *ngIf="form.controls.amount.hasError('max')">
      Kwota kredytu jest <strong>za duża</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Przeznaczenie Kredytu" formControlName="title" matTextareaAutosize
              matAutosizeMinRows="2"
              matAutosizeMaxRows="5" [errorStateMatcher]="matcher"></textarea>
    <button mat-button *ngIf="form.controls.title.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.title.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.title.hasError('required')">
      Przeznaczenie Kredytu jest <strong>wymagany</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Data zakończenia kredytu" type="date" formControlName="date"
           [errorStateMatcher]="matcher">
    <button mat-button *ngIf="form.controls.date.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.date.hasError('required')">
      Data zakończenia kredytu jest <strong>wymagana</strong>
    </mat-error>
  </mat-form-field>

  <button disabled="!disabled" mat-raised-button color="primary" type="submit">Weź Kredyt</button>

</form>
